* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: block;
  text-align: center;
}

h1 {
  text-align: center;
  background-color: azure;
  padding: 5px;
  margin: 20px 0px 60px 0px;
}

img {
  display: block;
  width: 30%;
  margin: 0px auto;
  margin-bottom: 50px;
}

h2, h3, ul {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 20px;
  text-align: justify;
}

ul {
  background-color: blanchedalmond;
  padding: 0px;
}
