* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 10px 10px;
  text-align: center;
  font-weight: 800;
  border: 3px solid blue;
}

div {
  border: 2px solid palegoldenrod;
  width: 390px;
  margin: 0px auto;
}

a {
  margin: 10px auto;
  padding: 60px 10px;
  border: 2px solid yellowgreen;
  display: inline-block;
}